body{
	width: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	color: #000000;
}

header{
	padding-top: 0px;
	margin-top: 0px;
	width: 100%;
	height: 3em;
	background-color: brown;
	position: fixed;
	z-index: 1;
}

#navbar{
	padding: 0px;
	margin: 0px;
	float: right;
}

#navbar>ul>li{
	list-style: none;
	display: block;
	float: left;
	width: 12em;
	margin: 0px 10px;
	text-align: center;
}

#navbar ul li a{
	text-decoration: none;
	color: #000000;
}

.dropdown>a,
.dropdown-content>a{
	position:relative;
	list-style: none;
	display: block;
	float: left;
	width: 100%;
	margin: 0px 10px;
	text-align: center;
}

.dropdown>a:hover,
.dropdown-content>a{
	color:#000000;
}

.dropdown>a:before,
.dropdown-content>a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.dropdown > a:hover:before,
.dropdown-content>a:hover:before{
  visibility: visible;
  transform: scaleX(1);
}


.dropdown:hover .dropdown-content{
	display:block;
}

.dropdown-content{
	padding-top: 2em;
	width: 100%;
	display: none;
}

.dropdown-content>a{
	width: 100%;
	float:left;
	background-color: brown;
	color: #000000;
	text-decoration:none;
	padding: 8px 0px;
}


img {
  padding: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: brown;
  position: absolute;
  padding: 1px;
  bottom: 0;
	font-size: 15px;
	height: 30px;
  width: 100%;
	line-height: 30px;
	text-align: center;
}

/************************************ About page ******************************************/
#aboutcontainer h1{
	color: Orange;
	font-size: 3em;
}

.author{
	color: #87cefa;
	font-size: 40px;
}

#aboutcontainer h3{
	text-align: center;
	font-weight: bolder;
	font-style: italic;
	font-size: 60px;
	padding: 0px;
	color: #00B3FF;
}

.p4{
	color: #87cefa;
	position: relative;
	text-decoration: none;
}

.mail{
	color: #87cefa;
	text-decoration: none;
}

h2{
	font-weight: bold;
	position: relative;
	text-align: center;
	font-size: 22px;
	line-height: 30px;

}

.p2{
	position: relative;
	text-align: center;
	font-style: italic;
	font-size: 16px;
	color: darkslateblue;
	line-height: 25px;
}

#teamimg{
	position: relative;
	margin: 0 auto;
}

#aboutcontainer{
	margin: 0 auto;
	position: relative;
	padding-top: 5em;
	text-align: center;
}

/************************** Login Page ****************************/
.loginbox{
  border: 1px solid black;
  width: 50%;
  height: auto;
  background: lightblue;
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -40%);
  box-sizing: border-box;
  padding : 40px 30px 70px 30px;
}

h1{
  margin:0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input,
.loginbox button{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="email"], input[type = "password"], input[type = "text"]{
  border : 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox select{
  border : none;
  border-bottom: 1px solid#fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox button {
  border: none;
  outline: none;
  width: 8em;
  height: 2em;
  background: green;
  color: #fff;
  font-size: 18px;
  align-self: center;
}
.loginbox button:hover{
  background: #ffc107;
  color: #000;

}
.loginbox a{
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color:darkgrey;

}

.loginbox a:hover{
  color : #ffc107;
}

/****************************   FORM       ******************************/

#logo{
    width: 100%;
    
}

#logoRightSide{
    

   
}

#logoRightSide h2{
    
    
     text-align: center;
     font-size: 2.vmin;
     margin-top: 10vmax;
    
}

#studentForm{
    
    margin-top: 1vmin;
}


#form div{
    
    margin-top: 4vmin;
}

#border{
    border: 3px solid red; 
}

#submit{
    
    border: 3px solid green;
}

#logout{
    
    border: 3px solid red;
}


.headline{
    text-decoration: underline;
}


hr {
  border:none;
  border-top:3px dotted #f00;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:50%;
}


.usscOnlyUse{
    padding-bottom: 30px;
    
}




















