img{
    width:100%;
}
#Schedule{
    margin-left:20px;
    border-collapse:collapse;
    border:1px, solid, black;
    width:75%;
    
}
h5{
    text-align: center;
}
table, th, td{
    border-collapse:collapse;
    border: 1px, solid, black;
}
.policy{
    margin-left: 10px;
    margin-right: 10px;
    padding:10px;
    border-style: solid;
    border-width: medium;
    border-color: red;
}
.submit{
    
}